  body {
    background-color:lightblue;
  
  }
  .menu-list-empty {
    float:left;
  }
  .menu-list-full {
    float:right
  }
  img {
    border-radius: 50px;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    text-align: center;
  }
  p {
    text-align:left;
  }
  #footer {
    display: block;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  